################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/CSharpLearn/.vs/CSharpLearn/v16/.suo
/CSharpLearn/CSharpLearn/obj/Debug
/CSharpLearn/CSharpLearn/bin/Debug
/.vs/___Formation_C#/v16/.suo

/CSharpLearn/CSharpLearn/obj/Release/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
